div {
    background-color: #121316;
  }
  .container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  
  #section5, #section6 {
    background-color: #121316;
    color: white;
    height: 400px;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 5%;
    margin-bottom: 10px;
    justify-content: center;
  }
  
 .div1 h2, .divx h2 {
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #FFFFFFCC;
  }

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
  transform: scale(1.01);
  z-index: 2;
}

 .container p {
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #FFFFFF66;
  }

.div1 {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 2%;
}
.divx {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-bottom: 5%;
}

.box1, .box2, .box3, .box4 {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 3%;
  height: 450px;
  color: white;
  border-radius: 1rem;
  border: none;
  background-color: #191a1e;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.main-land-div{
  color: white;
  font-family: 'poppins';
  margin-left: 5%;
}
.h-div-land {
  word-spacing: 10px;
  font-size: 26px;
  padding-top: 15%;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.2;
}
.h-div-land > h1 {
  /* line-height: 0; */
}
.p-div-land {
  color: rgb(157, 157, 157);
  padding-top: 1%;
}
.btn-div-land{
  padding-top: 4%;
}
.explore-btn-land {
  color: black;
  background-color: yellow;
  padding: 1rem 4rem;
  border-radius: 2rem;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.about-us-div  {
  color: white;
  font-family: 'poppins';
  font-size: 26px;

}
.about-us-div > p {
  font-size: 20px;
}
